<section id="page">
    <div class="wrapper">
        <div class="holder">
        <div class="subject">tárgy - <span id="subject-text"><strong>egy új üzeneted érkezett földkörüli pályáról</strong></span></div>
        </div>
        <div class="message">
            <div class="header"><strong>Kellemes karácsonyi ünnepeket, <br> és boldog új évet kíván az eclick csapata</strong></div>
            <div class="content">
                Az üzenet tárgya nem csalás, ezt a karácsonyi üdvözlő üzenetet valóban az űrből kaptad most meg, hiszen az eClick is bérelt tárhelyet azon a szerveren, amelyet kísérleti jelleggel földkörüli pályára állítottak!
            </div>
            <div class="end-text">A végtelenbe és tovább!</div>
            <div class="eclick-logo">
                <img src="https://eclick.app/microsites/xmas/logo.png" alt="">
            </div>
        </div>
    </div>
    <audio autoplay>
        <source src="https://eclick.app/microsites/xmas/sound.mp3" type="audio/mpeg">
    </audio>

</section>