<section id="page">
    <div class="wrapper">
        <div class="subject">tárgy - <span>egy új üzeneted érkezett a földkörüli pályáról</span></div>
        <div class="message">
            <div class="header">Kellemes karácsonyi ünnepeket, <br> és boldog új évet kíván az eclick csapata</div>
            <div class="content">
                Az üzenet tárgya nem csalás, ezt az üzenetet valóban az űrből küldtük ki Neked, hiszen az eClick is
                bérelt szerverkapacitást azon a szerveren, amelyet kísérleti jelleggel földkörüli pályára állítottak!
            </div>
            <div class="end-text">A végtelenbe és tovább!</div>
            <div class="eclick-logo">
                <img src="assets/images/eclick-image.png" alt="">
            </div>
        </div>
    </div>
</section>