/* Add application styles & imports to this file! */

body{
    margin: 0;
    padding: 0;
    font-family: 'AdventPro';
    font-weight: 400;
}


@font-face {
    font-family: 'AdventPro';
    src: url("assets/fonts/AdventPro-Thin.ttf") format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'AdventPro';
    src: url("assets/fonts/AdventPro-ExtraLight.ttf") format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'AdventPro';
    src: url("assets/fonts/AdventPro-Light.ttf") format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'AdventPro';
    src: url("https://eclick.app/microsites/xmas/fonts/AdventPro-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'AdventPro';
    src: url("https://eclick.app/microsites/xmas/fonts/AdventPro-Medium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'AdventPro';
    src: url("assets/fonts/AdventPro-SemiBold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'AdventPro';
    src: url("https://eclick.app/microsites/xmas/fonts/AdventPro-Bold.ttf") format('truetype');
    font-weight: 700;
}


